@import '../../../../themes/conf';

.title {
    @include title;
}

.contact {
    text-align: center;
}

.questions {
    margin: 2rem auto;
}

.button-user {
    @include button {
        background-color: $color-grey-light
    };
}



