<h1 class="title"> Bienvenu sur le profil de {{this.usersService.currentUser?.username}} </h1>

<p class="contact"> Adresse de contact : {{this.usersService.currentUser?.email}} </p>

<div class="questions">
    <h2> Questions posées : </h2>

    <section *ngFor="let question of usersService.currentUser?.questions">

        <!-- <h2> {{question}} </h2>

            <p> {{question.content}} </p>
            <p> {{question.createdAt}} </p> -->
    </section>

</div>

<ng-container *ngIf="this.loginService.userIsConnect();">
    <button (click)="clickOnDeleteUser()" class="button-user"> Se désinscrire </button>
</ng-container>
<ng-container *ngIf="!this.loginService.userIsConnect();">
    <p> Pour soumettre une question ou une réponse, vous devez vous inscrire : <button [routerLink]="['/users/add']" class="button-user"> S'inscrire </button> </p>
</ng-container>
