/* You can add global styles to this file, and also import other style files */
@import './themes/conf';

* {
    box-sizing: border-box;
    font-family: Verdana, Tahoma, sans-serif;
}

body {
    background-color: $color-grey-ultra-light;
}