<form (ngSubmit)="onSubmit()">
    <label for="" >
        <p> Titre </p>
        <input type="text" [(ngModel)]="title" name="title" placeholder="Comment afficher un composant angular ?">
    </label>
    <label for="">
        <p> Contenu </p>
        <textarea type="text" [(ngModel)]="content" name="content" placeholder="Je recherche à accéder à un composant angular, j'ai pour cela fait les actions suivantes : ..."></textarea>
    </label>

    <button class="button-add-question"> Soumettre ma question </button>
</form>
