
<div class="question" *ngIf="question" >

    <h2 class="question__title"> {{question.title}} </h2>

    <p class="question__content"> {{question.content}} </p>
    <p class="question__created-at"> Question soumise le {{question.createdAt}} </p>
    <p class="question__username">
        Par <a [routerLink]="['/users', question.username]">{{question.username}} (contact : {{question.useremail}}) </a>
    </p>

    <div class="container-answers" *ngIf="isDetailsQuestionPage()">
        <h3 class="answer__title"> Réponses : </h3>
        <div class="answers" *ngFor="let answers of question.answers">
            <p class="answers__content"> {{answers.content}} </p>
            <p class="answers__created-at"> Réponse soumise le {{answers.createdAt}} </p>
            <p class="answers__username">
                Par <a [routerLink]="['/users', answers.username]">{{answers.username}} (contact : {{answers.useremail}}) </a>
            </p>
        </div>
    </div>

</div>
