@import "../../../themes/conf";

a {
    text-decoration: none;
    color: black;
    width: 100%;
}

.question {
    text-align: center;
    margin: 2rem auto;
    width: 100%;
    padding: 3rem 1.5rem;
    border: 1px $color-grey solid;
    border-radius: 2rem;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    background-color: $color-grey-light;

    &__title {
        font-family: Tahoma, sans-serif;
        color: $color-grey-dark;
        font-weight: bold;
        font-size: 1.2rem;
        margin-bottom: 0.8rem ;
    }

    &__content {
        color: black;
        font-style: italic;
        padding: 2rem;
    }

    &__created-at,
    &__username {
        font-size: 0.8rem;
        margin: 0.8rem;
        align-self: flex-end;
    }

    &__username>a{
        text-decoration:underline;
    }



    // &__content {
    //     margin-top: 1.5rem;
    //     padding: 2.5rem;
    //     line-height: 1.3rem;
    //     text-align: justify;
    // }

    &:hover {
        transition: 0.5s;
        transform: translate(-0.5rem, -0.8rem);
        box-shadow: 7px 7px 7px 7px rgb(78, 77, 75, 0.69) ;
      }
}

.container-answers {
    margin: 3rem;
    border-top: 1px solid $color-black;
    padding: 2rem ;

    .answers {
        padding: 2rem ;
        border-bottom: 1px solid $color-black;

        &__title {
            font-family: Tahoma, sans-serif;
            color: $color-grey-dark;
            font-weight: bold;
            font-size: 1.2rem;
            margin-bottom: 0.8rem ;
        }
    
        &__content {
            color: black;
            font-style: italic;
            padding: 2rem;
        }
    
        &__created-at,
        &__username {
            font-size: 0.8rem;
            margin: 0.8rem;
            align-self: flex-end;
        }
    
        &__username>a{
            text-decoration:underline;
        }
    
    }

}

