/**
* Vars
*/

// color
$color-white: #ffffff;
$color-grey-ultra-light: #CCCCCC;
$color-grey-light: #999999; // 0 158 163
$color-grey: #666666; //255 0 122
$color-grey-dark: #333333; //255, 193, 99
$color-black: #000000; //96 48 102



/**
* Mixins
*/

@mixin title {
    text-align: center;
    margin: 3rem;
    font-size: 1.5rem;
    font-weight: bold;
}

@mixin button {
    margin: 2rem;
    text-align: center;
    padding: 1rem;
    border-radius: 1.5rem;
    border: 1px solid $color-grey-light;
    background-color:  $color-grey-ultra-light;
    box-shadow: -3px -3px 4px rgb(0 0 0 / 0.1);
    cursor: pointer;
    @content;
}

@mixin form {
    font-size: 1.1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
    margin: 5rem auto;
    padding: 2rem 0.5rem;
    text-align: center;
    background-color: $color-grey-light;
    border-radius: 2rem;
    box-shadow: 3px -3px 4px -50px rgb(0 0 0 / 0.1);


    label,
    input,
    textarea {
       padding: 1rem;
       width: 80%;
       border-radius: 1rem;
    }

    input,
    textarea {
        border: $color-grey 1px solid;
    }

    &>label>p {
        margin: 0.5rem;
    }

    @content;
}
