@import '../../../../themes/conf';

.container-options-home {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .sign-in {
        text-align: center;
        margin: 2rem auto;
    }

    .button-add-question,
    .button-add-subscribe {
        @include button {
            background-color: $color-grey-light
        };
    }

    .form-search {
        margin-right: 2rem;
        margin-top: 2rem;
        flex-grow: 1;
        align-self: flex-end;
        text-align: right;

        &__input {
            border-radius: 1rem;
            border: 1px solid $color-grey-light;
            padding: 1rem;
            //width: 49%;
        }

        .button-login {
            @include button {
                margin-top: 0.5rem;
            };
        }
    }
}

.questions-page {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.questions {
    width: 95%;
    padding: 2rem;

    .question {
        text-decoration: none;
        color: $color-black;

    }
}

