<div class="container-options-home">
    <ng-container *ngIf="this.loginService.userIsConnect();">
        <button [routerLink]="['questions/add']" class="button-add-question"> Poser une question </button>
    </ng-container>
    <div class="sign-in" *ngIf="!this.loginService.userIsConnect();">
        <p> Pour soumettre une question ou une réponse, inscrivez-vous : <button [routerLink]="['/users/add']" class="button-add-subscribe"> S'inscrire </button> </p>
    </div>

    <!-- <form for="search" class="form-search" (ngSubmit)="onSubmitSearch()">
        <input type="text" class="form-search__input" [(ngModel)]="search" name="search" placeholder="Rechercher un titre">

        <button class="form-search__button"> Rechercher </button>
    </form>-->
</div>

<div class="questions-page">
    <section class="questions" *ngFor="let question of questionsService.questions">
        <a class="question" [routerLink]="['/questions', question.tid]">
            <app-question-card [question]="question"></app-question-card>
        </a>
    </section>
</div>
