@import '../themes/conf';
* {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: auto;

    main {
    
        background-size: contain;
        flex-grow: 1;
    }

    app-footer {
        align-self: flex-end;
        width: 100%;
    }
}
