.invitConnect {
    text-align: center;
    margin: 2rem;
    font-style: italic;
}

.container-question-answers {
    margin: 2rem;
    margin-top: 4rem;

    .answers{
        border-bottom: black 1px solid;
    }
}