<ng-container *ngIf="this.loginService.userIsConnect();">
    <button (click)="addAnswer()" class="button-add-question"> Soumettre une réponse </button>
</ng-container>
<ng-container *ngIf="!this.loginService.userIsConnect();">
    <p> Pour soumettre une question ou une réponse, vous devez vous inscrire : <button [routerLink]="['/users/add']" class="button-user"> S'inscrire </button> </p>
</ng-container>

<div class="container-question-answers">
    <app-question-card [question]="questionsService.question"></app-question-card>
    <app-answer-form class="answers" *ngIf="isAddAnswer"></app-answer-form>
</div>