<form (ngSubmit)="onSubmit()">
    <label for="" >
        <p> Votre réponse </p>
        <textarea type="text" [(ngModel)]="content" name="content" placeholder="Pour afficher un composant angular il faut faire : ..."></textarea>
    </label>
    <button class="button-add-answer"> Soumettre ma réponse </button>
</form>
