@import '../../../../themes/conf';

.container {
    h1 {
        text-align: center;
        font-weight: bold;
        font-size: 2rem;
    }
    nav>ul {
        margin-top: 2rem;
        display: flex;
        justify-content: space-around;
        align-items: center;
        a {
            list-style-type: none;
            color: black;
        }
    }

    border-bottom: 2px solid black;
    padding: 1rem;
    background-color: $color-grey-light;
}
