<div class="container">
<h1> FAQ Zenika Academy </h1>

<nav>
    <ul>
        <li>
            <a [routerLink]="['/questions']"> Accueil </a>
        </li>
        <li *ngIf="!loginService.userIsConnect() ; else logout">
            <a [routerLink]="['users/login']">Se connecter </a>
        </li>
        <ng-template #logout>
            <li>
                <a [routerLink]="['users/login']" (click)="logoutOnClick()" >Se déconnecter</a>
            </li>
        </ng-template>

    </ul>
</nav>

</div>
