<h1 class="title"> Connectez-vous </h1>

<form (ngSubmit)="onSubmit()">
    <label for="" >
        <p> Email </p>
        <input type="text" [(ngModel)]="username" name="username" placeholder="example@zenika.com">
    </label>
    <label for="">
        <p> Mot de passe </p>
        <input type="password" [(ngModel)]="password" name="password" placeholder="*******">
    </label>

    <button class="button-login"> Se connecter </button>
</form>

<div class="suscribe">
    <p> Pas encore de compte ? </p>
    <a [routerLink]="['/users/add']"> Par ici pour vous inscrire ! </a>
</div>

