@import '../../../../themes/conf';

.title {
    @include title;
}

form {
    @include form {
        margin-top: 8rem;
    };

    .button-login {
        @include button;
    }
}

.suscribe {
    text-align: center;
    &>a {
        margin-top: 1rem;
    }
}