<form (ngSubmit)="onSubmit()">
    <label for="" >
        <p> Nom d'utilisateur </p>
        <input type="text" [(ngModel)]="username" name="username" placeholder="Amandine">
    </label>
    <label for="">
        <p> email </p>
        <input type="email" [(ngModel)]="email" name="email" placeholder="amandine@gmail.fr">
    </label>
    <label for="">
        <p> Mot de passe </p>
        <input type="password" [(ngModel)]="password" name="password" placeholder="*******">
    </label>

    <button class="button-subscribe"> S'inscrire </button>
</form>
